.section-about {
  padding: 140px 0;
  overflow: hidden;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .section-bg {
    height: 120%;

    &::before {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 0.3) 20%,
        #000 30%,
        rgba(0, 0, 0, 0.1) 40%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 1) 60%,
        rgba(0, 0, 0, 0.6) 70%,
        rgba(0, 0, 0, 0.5) 80%,
        #000 95%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    &::after {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 0.8) 20%,
        #000 30%,
        rgba(0, 0, 0, 0.8) 40%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 1) 60%,
        rgba(0, 0, 0, 0.6) 70%,
        rgba(0, 0, 0, 0.5) 80%,
        #000 95%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  .about {
    &-wrapper {
      margin-bottom: 140px;
      padding: 0 80px;
      @media (max-width: 991px) {
        padding: 0 20px;
      }
      .title {
        width: max-content;
        max-width: 100%;
        position: relative;
        margin: 0 auto;
        margin-left: 0;

        img {
          width: auto;
          height: auto;
        }

        .text {
          left: 50px;
          bottom: 80px;
          position: absolute;
          width: max-content;
          @media (max-width: 991px) {
            bottom: 30px;
          }
        }
      }

      .desc {
        margin-top: 32px;

        &-bottom {
          margin-top: 32px;
        }
      }
    }

    &-cards {
      padding-top: 0;
      padding-left: 80px;
      @media (max-width: 991px) {
        padding-left: 20px;
      }
    }
  }
}

.horizontal-cards {
  .list-item {
    display: flex;
    flex-wrap: nowrap;
    width: fit-content;
    gap: 40px;
  }

  .card-item {
    width: 400px;
    aspect-ratio: 450 / 600;
    overflow: hidden;
    transform-origin: top left;
    will-change: clip-path;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60px 100%, 0 calc(100% - 80px));

    @media (max-width: 767px) {
      width: 266px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.2);
    }
  }
}
