.about-us {
  padding-top: 140px;

  &__content {
    text-align: center;
    margin-bottom: 64px;
  }
  &__sub {
    margin-bottom: 16px;
  }
  &__title {
    margin-bottom: 32px;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 40px;
  }
  &__item {
    position: relative;
    overflow: hidden;

    .box{
      padding: 80px;
      background-color: black;
      z-index: 2;
      position: relative;
      /* border: 2px solid transparent; */
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      margin: 2px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      background: linear-gradient(
			to bottom,
			transparent,
			var(--color-primary)
		  );
      height: 40%;
      width: 200%;
    }
    
    &:hover{
      &::after{
        animation: rotate-effect 6s linear infinite;
      }
    }

    @keyframes rotate-effect {
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }    

    &--icon {
      width: 64px;
      height: 74px;
      margin-bottom: 30px;
    }

    &--title {
      margin-bottom: 20px;
    }

    &--desc {
      max-width: 375px;
      width: 100%;
    }
  }
}
