.content-detail {
  overflow: hidden;
  position: relative;
  padding: 140px 0 180px;

  &::before {
    content: "";
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .section-bg {
    height: 120%;

    &::before {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 0.3) 20%,
        #000 30%,
        rgba(0, 0, 0, 0.1) 40%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 1) 60%,
        rgba(0, 0, 0, 0.6) 70%,
        rgba(0, 0, 0, 0.5) 80%,
        #000 95%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    &::after {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 0.8) 20%,
        #000 30%,
        rgba(0, 0, 0, 0.8) 40%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 1) 60%,
        rgba(0, 0, 0, 0.6) 70%,
        rgba(0, 0, 0, 0.5) 80%,
        #000 95%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }

  &-top {
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-bottom: 64px;
    &-top {
      h1 {
        margin-bottom: 24px;
      }
    }
  }
  &-table {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 48px;
    margin-bottom: 40px;
  }
  &-clip-image {
    .img-wrapper {
      width: 100%;
      aspect-ratio: 1440 / 820;
      max-height: 100dvh;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.3);
      }
    }
  }
  &-center {
    margin-bottom: 100px;
    &-content {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
  &-two-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 80px;
    gap: 40px;
    margin-bottom: 100px;
    .content-detail-col-img {
      width: 100%;
      aspect-ratio: 1;
      overflow: hidden;
      &:nth-child(2) {
        // margin-top: 64px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.2);
      }
    }
  }
  &-bottom {
    &-content {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }
  &.insight {
    .content-detail-top-bottom {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
    .content-detail-center {
      margin-bottom: 0;
      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;
        li {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: var(--color-primary);
            top: 10px;
          }
          p {
            color: var(--color-white);
            font-size: 16px;
            line-height: 24px;
            span {
              color: var(--color-primary);
              font-weight: 800;
              padding-left: 12px;
            }
          }
        }
      }
    }
  }
}
