.button-wrapper {
  display: inline-block;
  position: relative;
  background: conic-gradient(from var(--r), #080e1d 0%, #212b3a 80%);
  animation: rotating 3s linear infinite;
  height: 52px;
  width: 170px;
  display: block;
  border: 1px solid var(--color-primary);
  overflow: hidden;
}
.button-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-black);
  z-index: 1;
  transition: opacity 0.3s ease;
}
.button-wrapper a {
  position: absolute;
  padding: 13px 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  white-space: nowrap;
  transition: all 0.4s;
}
.button-wrapper:hover a {
  color: var(--color-primary);
}
.button-wrapper:hover::after {
  opacity: 0.5;
}
@keyframes rotating {
  0% {
    --r: 0deg;
  }
  100% {
    --r: 360deg;
  }
}
@keyframes rotating-border {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spacing-2xl {
  height: 140px;
}
