.magic-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1061;
  opacity: 0;
  transition: opacity 0.2s ease;
  &.scale-in {
    .cursor {
      width: 40px;
      height: 40px;
      &.active {
        width: 40px;
        height: 40px;
      }
    }
  }
  .cursor {
    width: 47px;
    height: 47px;
    background-color: #d4d4d4;
    box-shadow: 0 0 15px 10px #d4d4d4;
    border-radius: 50%;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &.active {
      background-color: #00ffff;
      box-shadow: 0 0 15px 10px #00ffff;

      .text {
        &.right {
          transform: translate(-20%, -50%);
          opacity: 0;
        }

        &.left {
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }
    }
  }

  .text {
    min-width: max-content;
    opacity: 1;
    color: var(--color-black);
    font-size: 8px;
    line-height: 8px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease, transform 0.6s ease;
    font-family: var(--font-body);

    &.left {
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
      opacity: 0;
      transform: translate(-100%, -50%);
    }
  }
}

[data-cursor-text] {
  cursor: none;
}

body,
html,
* {
  cursor: none !important;
}
.spacing-1x {
  height: 100px;
}
.spacing-14x {
  height: 140px;
}
.spacing-18x {
  height: 180px;
}
.spacing-20x {
  height: 200px;
}
.spacing-24x {
  height: 240px;
}
.btn-global {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 12px 32px;
  border-radius: 4px;
  border: 2px solid var(--color-primary);
  position: relative;
  &:hover {
    &::before {
      opacity: 1;
      visibility: visible;
    }
    .btn-rolling-text {
      &::before {
        transform: translate3d(0, 0, 0);
      }
      span {
        transform: translate3d(0, -100%, 0);
      }
    }
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 0%, #75ffff);
    z-index: 2;
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
  }
  .btn-rolling-text {
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 3;

    &::before {
      content: attr(data-replace);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: var(--color-primary);
      transform-origin: 50% 100%;
      transform: translate3d(0, 100%, 0);
      transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
      text-align: center;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    span {
      display: inline-block;
      transition: transform 0.4s cubic-bezier(0.76, 0, 0.24, 1);
      color: var(--color-primary);
    }
  }
}
.effect-heading {
  span {
    color: var(--color-primary);
  }
}

.parallax-trigger {
  overflow: hidden;

  img {
    height: 120%;
    object-fit: cover;
    position: absolute;
    inset: 0;
    top: -10%;
    transform-origin: 50% 50%;
  }
}

.section-bg {
  overflow: hidden;
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 130%;
  z-index: -2;
  background-image: url("../../images/use/btv-bg.png");
  background-position: center;
  background-size: 100% auto;
  background-repeat: repeat-y;
  animation: moveUpDown 10s linear infinite alternate;
}

main {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: -1;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 176.82px,
      rgb(0, 0, 0) 469.19px,
      rgb(0, 0, 0) 605.5px,
      rgba(0, 0, 0, 0) 731.23px,
      rgb(0, 0, 0) 841.56px,
      rgba(0, 0, 0, 0.8) 1409.29px,
      rgb(0, 0, 0) 1730px
    );
    animation: moveUpDown 7s linear infinite alternate;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 300px;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: -1;
    background: repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0px,
      rgba(0, 0, 0, 0) 176.82px,
      rgb(0, 0, 0) 469.19px,
      rgb(0, 0, 0) 605.5px,
      rgba(0, 0, 0, 0) 731.23px,
      rgb(0, 0, 0) 841.56px,
      rgba(0, 0, 0, 0.8) 1409.29px,
      rgb(0, 0, 0) 1730px
    );
    animation: moveUpDown 6s linear infinite alternate;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(300px);
  }
}

.section-title {
  .title {
    width: max-content;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    margin-left: 0;

    img {
      width: 590px;
      height: auto;
    }

    .text {
      left: 50px;
      bottom: 80px;
      position: absolute;
      width: max-content;
    }
  }

  .desc {
    margin-top: 32px;

    &-bottom {
      margin-top: 32px;
    }
  }
}

.progress-bar-container {
  position: fixed;
  width: 2px;
  height: 100px;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 255, 255, 0.1);
  z-index: 3;
  border-radius: 2px;
  overflow: hidden;
}
.progress-bar {
  width: 100%;
  background-color: #00ffff;
  transition: all 0.3s ease;
}
