.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  &__container {
    padding: 16px 24px;
  }
  &__logo {
    display: block;
    width: auto;
    height: 52px;
  }
  &__menu {
    ul {
      padding: 14px 24px;
      // background-color: var(--color-blur);
      background-image: url("../images/img-use/menu-bg-blur.svg");

      li.active{
        a{
          color: var(--color-primary);

          &::before{
            background: var(--color-primary);
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }

      a{
        position: relative;
        transition: all 0.3s ease-in-out;

        &::before{
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: linear-gradient(to right, transparent, var(--color-primary));
          bottom: -4px;
          border-radius: 8px;
          left: 0;
          transform: scaleX(0);
          transform-origin: bottom right;
          transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:hover{
          color: var(--color-primary);

          &::before{
            transform: scaleX(1);
            transform-origin: bottom left;
          }
        }
      }
    }
  }
}
