.our-services {
  padding: 140px 0;
  position: relative;
  overflow: hidden;
  @media (max-width: 991px) {
    padding: 100px 0;
  }
  &.home {
    padding-bottom: 0;
    @media (max-width: 991px) {
      padding-top: 0;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .services {
    &-wrapper {
      margin: 0 auto;
      position: relative;
      z-index: 2;
      padding: 0 80px;
      @media (max-width: 991px) {
        padding: 0;
      }
      .title {
        width: max-content;
        max-width: 100%;
        position: relative;
        margin: 0 auto;
        margin-left: 0;
        @media (max-width: 991px) {
          padding: 0 20px;
        }
        img {
          width: 590px;
          height: auto;
          @media (max-width: 991px) {
            width: 290px;
          }
        }

        .text {
          left: 50px;
          bottom: 80px;
          position: absolute;
          width: max-content;
          @media (max-width: 991px) {
            bottom: 15px;
          }
        }
      }

      .desc {
        margin-top: 80px;
        font-size: 24px;
        line-height: 40px;
        @media (max-width: 991px) {
          margin-top: 32px;
          padding: 0 20px;
          font-size: 20px;
          line-height: 28px;
        }
      }

      .consultancy {
        display: flex;
        gap: 24px;
        margin-top: 140px;
        @media (max-width: 991px) {
          flex-direction: column;
        }
        .item {
          flex: 1;
          height: 640px;
          position: relative;
          transition: all 0.8s ease;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 94.5px 100%, 0 544px);
          will-change: clip-path;
          transform: translateZ(0);
          @media (max-width: 991px) {
            height: 520px;
            flex: unset;
            clip-path: polygon(0 0, 100% 0, 100% 500px, 24% 500px, 0 400px);
          }
          &.active {
            width: 50%;
            flex: 2;
            // pointer-events: none;
            @media (max-width: 991px) {
              width: 100%;
              height: 520px;
              flex: unset;
            }
            .content {
              opacity: 1;
              visibility: visible;
              transition-delay: 0.6s;
            }

            .item-title-small {
              opacity: 0;
            }
          }

          .image {
            width: 100%;
            height: 100%;
            position: relative;

            &::after {
              content: "";
              background-color: rgba(0, 0, 0, 0.5);
              position: absolute;
              inset: 0;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .content {
            width: 60%;
            position: absolute;
            bottom: 90px;
            left: 110px;

            opacity: 0;
            visibility: hidden;
            transition-delay: 0s;
            @media (max-width: 991px) {
              left: 20px;
              right: 20px;
              top: 40px;
              width: calc(100% - 40px);
              opacity: 1;
              visibility: visible;
            }
          }

          &-title {
            margin-bottom: 40px;
            @media (max-width: 991px) {
              margin-bottom: 16px;
            }
            &-small {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              opacity: 1;
              transition: opacity 0.5s ease;
              @media (max-width: 991px) {
                display: none;
              }
            }
          }

          &-desc {
            margin-bottom: 64px;
            @media (max-width: 991px) {
              margin-bottom: 40px;
            }
          }
        }
      }
    }

    &-list {
      margin-top: 140px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      @media (max-width: 991px) {
        grid-template-columns: 1fr;
        gap: 32px;
        padding: 0 20px;
      }
      .card {
        perspective: 1000px;
        transform-style: preserve-3d;
        background-color: transparent;
        border: none;
        transform-origin: top left;

        .glow {
          position: absolute;
          z-index: -1;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          background-image: radial-gradient(
            circle at 50% -20%,
            #1c1c1c,
            #1c1c1c
          );
        }

        &-item {
          height: 460px;
          width: 100%;
          transition: transform 0.3s, border 0.3s, box-shadow 0.3s;
          clip-path: polygon(0 0, 100% 0, 100% 100%, 94.5px 100%, 0 391px);
          overflow: hidden;
          // border: 2px solid transparent;
          position: relative;
          margin: 2px;
          will-change: clip-path;
          padding: 40px 40px 24px 56px;
          background-color: #1c1c1c;
          @media (max-width: 991px) {
            padding: 48px;
          }
          // .item-wrapper {
          //   clip-path: polygon(0 0, 100% 0, 100% 100%, 94.5px 100%, 0 391px);
          //   width: 100%;
          //   height: 100%;
          //   position: relative;
          //   z-index: 2;
          //   overflow: hidden;
          // }

          // &::after {
          //   content: "";
          //   width: 100%;
          //   height: 100%;
          //   clip-path: polygon(0 0, 100% 0, 100% 100%, 94.5px 100%, 0 391px);
          //   background-color: red;
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          // }

          &:hover {
            .icon {
              transform: translateX(5px);
            }
          }
        }

        &-image {
          height: 100px;
          width: auto;

          img {
            object-fit: contain;
            height: 100%;
          }
        }

        &-title {
          margin-top: 24px;
          margin-bottom: 24px;
        }

        ul {
          li {
            &:not(:last-child) {
              margin-bottom: 8px;
            }
          }
        }

        &-cta {
          display: flex;
          align-items: center;
          gap: 4px;
          position: absolute;
          bottom: 24px;
          right: 40px;
          @media (max-width: 991px) {
            bottom: 48px;
            right: 48px;
          }
          &:hover {
            color: var(--color-primary);
          }

          .icon {
            width: 12px;
            height: 12px;
            transition: transform 0.4s ease;
          }
        }
      }
    }

    &-slogan {
      margin-top: 140px;
      @media (max-width: 991px) {
        margin-top: 100px;
        padding: 0 20px;
      }
    }
  }

  .bg-section {
    position: absolute;
    top: -20%;
    left: 0;
    width: 100%;
    height: 130%;
    z-index: -1;
    background-image: url("../../images/use/btv-bg.png");
    background-position: center;
    background-size: 100% auto;
    background-repeat: repeat-y;
    animation: moveUpDown 10s linear infinite alternate;

    &::before {
      content: "";
      position: absolute;
      top: -200px;
      left: 0;
      width: 100%;
      height: 50%;
      z-index: 1;
      background: linear-gradient(
        rgba(0, 0, 0, 0) 10.2207%,
        rgb(0, 0, 0) 27.1207%,
        rgb(0, 0, 0) 35%,
        rgba(0, 0, 0, 0) 42.2629%,
        rgb(0, 0, 0) 48.5873%,
        rgba(0, 0, 0, 0.8) 81.4611%,
        rgba(0, 0, 0, 0) 100%
      );
      animation: moveUpDown 7s linear infinite alternate;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 300px;
      left: 0;
      width: 100%;
      height: 50%;
      z-index: 1;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 10.2207%,
        rgb(0, 0, 0) 27.1207%,
        rgb(0, 0, 0) 35%,
        rgba(0, 0, 0, 0) 42.2629%,
        rgb(0, 0, 0) 48.5873%,
        rgba(0, 0, 0, 0.8) 81.4611%,
        rgb(0, 0, 0) 100%
      );
      animation: moveUpDown 6s linear infinite alternate;
    }
  }
  &-bottom {
    margin-top: 80px;
  }
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(300px);
  }
}
