.our-expertise {
  position: relative;
  overflow: hidden;
  padding-bottom: 200px;
  @media (max-width: 991px) {
    padding-bottom: 100px;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
  }

  &::after {
    content: "";
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .section-bg {
    &::before,
    &::after {
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 10%,
        #000 30%,
        rgba(0, 0, 0, 0.5) 60%,
        #000 90%,
        rgba(0, 0, 0, 0.9) 100%
      );
    }
  }

  .expertise {
    &-wrapper {
      padding: 0 80px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 100px;
      margin-top: 80px;
      @media (max-width: 991px) {
        grid-template-columns: 1fr;
        padding: 0 20px;
        gap: 32px;
      }
      .number {
        font-size: 80px;
        line-height: 100%;
        text-transform: uppercase;

        height: 80px;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: flex-start;
        @media (max-width: 991px) {
          margin-bottom: 24px;
        }
        &:nth-child(1) > span {
          transition-delay: 0s;
        }

        & > span {
          z-index: 1;
          display: flex;
          flex-direction: column;
          height: 100%;
          transition: transform 2s ease;
          transform: translateY(0);
          line-height: 1;

          span {
            flex: 0 0 100%;
            height: 100%;
            text-align: center;
          }
        }
      }
    }

    &-item {
      display: grid;
      grid-template-columns: 95px auto;
      gap: 24px;
      position: relative;
      padding-bottom: 20px;
      padding-right: 8px;

      &.item-different {
        display: flex;
        flex-direction: column;
        gap: 0;

        .image {
          width: 100%;
          height: auto;
          aspect-ratio: unset;
          max-height: 85px;

          img {
            object-fit: contain;
          }
        }

        .title {
          margin-top: 12px;

          @media (max-width: 991px) {
            margin-top: 24px;
          }
        }

        .content {
          padding-left: 110px;
        }
      }

      @media (max-width: 991px) {
        padding-bottom: 40px;
        .content {
          min-height: 200px;
        }
      }
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 3px solid #0ff;
        position: absolute;
        bottom: 2px;
        right: 0;
        transform: translateY(50%);
      }

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        border: 3px solid #0ff;
        position: absolute;
        top: 110px;
        left: calc(95px / 2);
        transform: translateX(-50%);
      }

      .image {
        width: 95px;
        aspect-ratio: 1;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .title {
        font-size: 32px;
        line-height: 40px;
        font-weight: 700;
        margin-top: 16px;
        @media (max-width: 991px) {
          font-size: 24px;
          line-height: 28px;
        }
      }

      .desc {
        margin-top: 10px;
        font-size: 16px;
        line-height: 24px;
        @media (max-width: 991px) {
          margin-top: 12px;
        }
      }
    }

    &-line {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
