.our-service-intro {
  padding: 140px 0;
  position: relative;
  overflow: hidden;
  @media (max-width: 991px) {
    padding-bottom: 100px;
  }
  &::before {
    content: "";
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
  }

  &.scenography {
    &::before {
      height: 400px;
    }
  }

  &::after {
    content: "";
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .section-title {
    @media (max-width: 991px) {
      padding: 0 24px;
    }
    .title {
      max-width: 1054px;
      @media (max-width: 1440px) {
        max-width: 100%;
      }
    }
    .title img {
      width: 100%;
    }
    .text {
      bottom: 55px;
      @media (max-width: 991px) {
        bottom: 0;
      }
    }
    .desc {
      &-top {
        span {
          color: var(--color-primary);
        }
      }
    }
  }
}
