.partner {
  &-top {
    padding: 0 80px;
    margin-bottom: 200px;
    @media (max-width: 991px) {
      padding: 0 20px;
      margin-bottom: 100px;
    }
  }
  &-bottom {
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgb(0, 0, 0) 10%,
      rgb(0, 0, 0) 90%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  &-container {
    display: flex;
    flex-wrap: nowrap;
    min-width: fit-content;
    gap: 100px;
    @media (max-width: 991px) {
      gap: 48px;
    }
  }

  &-item {
    height: 60px;
    width: max-content;
    white-space: nowrap;
    will-change: transform;
    backface-visibility: hidden;
    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }
  }
}
