:root {
  --color-primary: #00ffff;
  --color-white: #ffffff;
  --color-black: #000000;
  --font-heading: "Power Grotesk", sans-serif;
  --font-body: "Space Grotesk", sans-serif;
}
.color-primary {
  color: var(--color-primary);
}
.color-white {
  color: var(--color-white);
}
.color-black {
  color: var(--color-black);
}
.font-heading {
  font-family: var(--font-heading);
}

.font-body {
  font-family: var(--font-body);
}
.h1-font {
  font-size: 74px;
  line-height: 66px;
  font-weight: bold;
}
.b24-40 {
  font-size: 24px;
  line-height: 40px;
}
.btn-font {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.b1-font {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
