.pin-el {
  &-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  &-content {
    display: flex;
    flex-direction: column;
    gap: 84px 0;
  }
  &-headings {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  &-title {
    transition: all 0.5s;
    transform-origin: left;
    &.active {
      color: var(--color-primary);
      font-size: 74px;
      line-height: 66px;
    }
  }
  &-img {
    margin-bottom: 40px;
    width: 100%;
    aspect-ratio: 560 / 320;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .video {
      width: 100%;
      aspect-ratio: 560 / 320;
      source {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-description {
    padding: 0 0 40px 60px;
    position: relative;

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 3px solid #0ff;
      position: absolute;
      bottom: 2px;
      right: 0;
      transform: translateY(50%);
      background-color: var(--color-black);
      z-index: 2;
    }

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 3px solid #0ff;
      position: absolute;
      top: 0;
      left: 2px;
      transform: translateX(-50%);
      background-color: var(--color-black);
      z-index: 2;
    }
  }

  &-line {
    position: absolute;
    top: 0;
    left: 0;
  }
}
