<div class="footer-wrapper">
  <div class="container-fluid p-0">
    <div class="footer-line">
      <canvas id="footerLine"></canvas>
    </div>
    <a href="" class="footer-logo" data-text-footer>
      <img src="./assets/images/use/logo-full.svg" alt="" />
    </a>
    <div class="footer-top d-flex align-items-center justify-content-between">
      <div class="footer-menu">
        <ul class="menu">
          <li data-text-footer>
            <a href="#" class="color-white btn-font">About BTV</a>
          </li>
          <li data-text-footer>
            <a href="#" class="color-white btn-font">Our Services</a>
          </li>
          <li data-text-footer>
            <a href="#" class="color-white btn-font">Latest Projects</a>
          </li>
          <li data-text-footer>
            <a href="#" class="color-white btn-font">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="footer-form">
        <div class="form-title b1-font color-white" data-text-footer>
          Subscribe to our newsletter
        </div>
        <form action="" data-text-footer>
          <input
            type="email"
            placeholder="Enter your email"
            class="b1-font color-white"
          />
          <button type="submit" class="b1-font color-white" data-cursor-text>
            Subscribe
          </button>
        </form>
        <div class="privacy color-white" data-text-footer>
          By subscribing you agree to our
          <a href="./privacy-policy.html">Privacy Policy</a>
        </div>
      </div>
    </div>
    <div
      class="footer-bottom d-flex align-items-center justify-content-between"
    >
      <div class="footer-bottom-line"></div>
      <div class="copyright color-white btn-font" data-text-footer>
        © 2025 Behind The Volt. All rights reserved.
      </div>
      <div class="footer-policy">
        <ul class="menu">
          <li data-text-footer>
            <a href="#" class="color-white btn-font">Privacy Policy</a>
          </li>
          <li data-text-footer>
            <a href="#" class="color-white btn-font">Terms of Service</a>
          </li>
          <li data-text-footer>
            <a href="#" class="color-white btn-font">Cookies Settings</a>
          </li>
          <li data-text-footer>
            <a href="#" class="color-white btn-font">Modern Slavery</a>
          </li>
        </ul>
      </div>
      <a
        href="https://alphacreative.vn/"
        class="footer-company color-white btn-font"
        data-text-footer
        >Digital Experience by Alpha Creative</a
      >
    </div>
  </div>
</div>
